*{
  box-sizing: border-box;
}
body{
    background-color: rgb(214, 205, 205);
    width: fit-content;
}

/* sub navigation bar */
.navbar{
  background-color: black;
  color: white;
  margin-bottom: 0px;
}
.icon-bar{
  color: white;
  background-color: white;
}

.navbar-nav>li>a{
  padding: 6px;
  color: white;
  float: left;
  font-size: 14px;
  margin: 8px 2px;
  border-radius: 5%;
  text-decoration: none;
  font-size:  bold;
  font-family: Georgia, 'Times New Roman', Times, serif;
  border: 1px solid black;
}
.navbar-header>a{
  padding: 6px;
  height: 35px;
  margin-right: 20px;
  color: white;
  float: left;
  font-size: 14px;
  margin: 8px 4px;
  border-radius: 5%;
  text-decoration: none;
  font-size:  bold;
  font-family: Georgia, 'Times New Roman', Times, serif;
  border: 1px solid black;
}
.navbar-nav>li>a:hover, .navbar-header>a:hover{
  border: 1px solid white;
  background-color: black;
}
.navbar-nav>li>a>img{
  height: 30px;
  width: 40px;   
}
.navbar-nav>li>a{
  padding: 6px;
  height: 35px;
  margin-right: 20px;
  color: white;
  float: left;
  font-size: 14px;
  margin: 8px 4px;
  border-radius: 5%;
  text-decoration: none;
  font-size:  bold;
  font-family: Georgia, 'Times New Roman', Times, serif;
  border: 1px solid black;
  }
  @media screen and (max-width:740px)
  {
      .navbar-brand{
          display: none;
      }
  } 
/*adding items in card */

.products{
    width: 100%;
    height: fit-content;
    position: relative;
  }
.products-card{
    width: 335.7px;
    height: 380px;
    background-color: white;
    margin-bottom: 20px;
    z-index: 1;
    position: relative;
    top: -340px;
    float: left;
    margin-left: 2%;
}
.product-card-heading
{
  font-size: 21px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-weight:bolder;
  color: black;
  padding: 4%;
}
.product{
  width: 44%;
  height: 120px;
  margin-left: 4%;
  float: left;
  margin-bottom: 4%;
}
.product-card-image{

  width: 100%;
  height: 80%;
}
 .card-footer{
  padding: 12px;
  color:rgb(66, 66, 100);
 }

.product-card2-image{
    width: 90%;
    height: 65%;
    margin-left: 5%;
}

/*FOOTER STARTS HERE*/

  .main-footer{
    width: 100%;
    height:fit-content;
    margin-bottom: 20px;
    color: white;
    position: relative;
    top: -340px;
    float: left;
    margin-bottom: -340px;
    background-color: rgb(56, 12, 54);    
  }
.back-to-top{
  background-color: rgb(81, 85, 90);
  width: 100%;
  height: 40px;
  text-align: center;
  color: white;
  padding: 10px;
}
.main-footer-body{
  width: 100%;
  padding-left: 10%;
  padding-right: 10%;
  margin-top: 40px;
}
/*to add space between ul elements in footer */
.main-footer-body-ul{
  margin-left: 5%;
  list-style: none;
  float: left;
  width: fit-content;
  color: white;

}
/*to add css to head of list items */
.main-footer-body-ul-head{
  font-size: 20px;
  color: white;
  list-style: none;
}
/*to add css to anchor  item */
.main-footer-body-ul-text{
  font-size: 14px;
  color: white;
  font-family: Amazon Ember ;
  opacity: 0.8;
}
.main-footer-body-ul-text:hover{
  color: white;
}
.ul-text-li{
  padding: 4px;
}
.main-footer1{
  width: 100%;
    height:fit-content;
    margin-bottom: 20px;
    z-index: 1;
    color: white;
    float: left;
    background-color: rgb(56, 12, 54);
}
 /* to define the property for language button */
.btn-language{
  opacity: 0.9;
   background-color: transparent;
   border: 1px solid white;
   margin-left: 20px;
   color: white;
}
.main-footer-language{
  margin-left: 15%;
  margin-right: 15%;
}
.main-footer1-ul{
  list-style: none;

}
.main-footer1-li{
   padding: 8px;
   float: left;
}
.footer-country{
  color: white;
}



/* to properly place cards and footer on all device */
@media screen and (max-width:1420px){
  .products-card{
    position: relative;
    top: -260px;
  }
  .main-footer{
    position: relative;
    top: -260px;
    margin-bottom: -260px;
  }
  
}
@media screen and (max-width:1420px){
  .products-card{
    position: relative;
    top: -180px;
  }
  .main-footer{
    position: relative;
    top: -180px;
    margin-bottom: -180px;
  }
  
}
@media screen and (max-width:800px){
  .products-card{
    position: relative;
    top:-40px;
  }
  .main-footer{
    position: relative;
    top:-40px;
    margin-bottom: -40px;
  }
  
}
@media screen and (max-width:560px)
{
  .products-card{
    position: relative;
    top: -10px;
  }
  .main-footer{
    position: relative;
    top: -10px;
    margin-bottom: -10px;
  }
  .products-card{
    margin-left: 12%;
  }
}